<html>
<head>
	<script src="https://cdn.jsdelivr.net/vue/1.0.24/vue.js"></script>
	<script src="src.js" charset="utf-8"></script>
	<link rel="stylesheet" href="styles.css" title="CSS Title" type="text/css" media="screen" charset="utf-8">
</head>
<body>
	<div id="demo">
  	<h1>Latest Vue.js Commits</h1>
  	<template v-for="branch in branches">
	    <input type="radio"
	      name="branch"
	      :id="branch"
	      :value="branch"
	      v-model="currentBranch">
	    <label :for="branch">{{branch}}</label>
	  </template>
	  <p>vuejs/vue@{{currentBranch}}</p>
	  <ul>
	    <li v-for="record in commits">
	      <a :href="record.html_url" target="_blank" class="commit">{{record.sha.slice(0, 7)}}</a>
	      - <span class="message">{{record.commit.message | truncate}}</span><br>
	      by <span class="author">{{record.commit.author.name}}</span>
	      at <span class="date">{{record.commit.author.date | formatDate}}</span>
	    </li>
	  </ul>
	</div>
</body>
</html>